.employee-detail-page {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.org-chart {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.org-chart .node {
    position: relative;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.org-card {
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 220px;
    z-index: 1;
    background-color: white;
    transition: all 0.3s ease;
}

.employee-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 32px 64px rgba(17, 66, 226, 0.5); /* Enhanced blue shadow on hover */
}


.org-card.current-user-card {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.org-card .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}



.subordinates-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 20px;
}

.node.subordinate {
    padding: 20px 15px 0;
}